<!DOCTYPE html>
<html>
<head>
	<title>20k build</title>
</head>
<body>
<strong>AMD 20k PC Build</strong>
<img src="C:\Users\ahmed\Desktop\Graduation-Project\public\a520m.jpg" alt="">


			
		
</body>
</html>