<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us section </title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section class="about">
<div class="main">
    <img src="img2.png" alt="" srcset="">
    <div class="about-text">
<h1>About-Us</h1>
<h5>TECH  <span> & WEB </span></h5>
<p>This project will be aiming to provide people that are living in Egypt with Information to be able to determine the difference between multiple choices about building the best computer considering the budged to suit their needs, show them some tips in how to fix and maintain them as well as providing locations to buy products locally in Egypt.
    </div>
</div>
    </section>
</body>
</html>