<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>wikipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/parts-info/nav1.css"
    />
    <link rel="stylesheet" type="text/css" href="/parts-info/nav2.css" />
    <link rel="stylesheet" type="text/css" href="/parts-info/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="/parts-info/footer.css" />
    <link rel="stylesheet" type="text/css" href="/parts-info/main.css" />
    <link rel="stylesheet" type="text/css" href="/parts-info/image.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="momo">
      <header>
        <div class="nav1">
          <a href="/"><img class="logo" src="/logo.png" alt="logo" /></a>
          <nav>
            <form action="/logout?_method=DELETE" method="POST">
              <button class="btn" type="submit">Logout</button>
            </form>
            <!-- <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul> -->
          </nav>
        </div>
        <div class="nav2">
          <ul>
            <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
            <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
            <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
            <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
        </ul>

        </div>
      </header>
      <main>
        <h1>
          <strong>How to Build a Gaming PC</strong><br />

          Separating the gaming PC building process into manageable steps makes
          it much less intimidating. Even if you’re a novice, fret not: No prior
          build experience is required.
        </h1>
        <hr />
        <div class="content">
          <div>
            <p>
              Building a gaming PC from scratch is the only sure-fire way to
              ensure that your system is capable of satisfying all of your
              personal preferences. When you determine everything that goes into
              your PC from the power supply up, you know that you'll be able to
              play the games you want at the frame rates you want. In addition,
              a home-built PC keeps the door open for upgrades—as technology
              changes, as your gaming tastes and needs change, or as your budget
              allows. Though building a PC may seem complex—especially if it’s
              your first time working inside the chassis—you might find that
              it’s easier than you think. This comprehensive, step-by-step guide
              will walk you through the process of assembling your very own
              gaming PC, providing plenty of tips and tricks from our veteran
              builders along the way. .
            </p>
          </div>
          <div class="img-pc"><img src="/parts-info/img-guide/1.jpg" alt="img" /></div>
        </div>
        <hr />
        <h1>PREP 1: PC Build Tools</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              Before diving into your build, you’ll need to gather some tools.
              Preparing your materials and workspace ahead of time will help to
              ensure that the build process goes smoothly. Workspace. You will
              need a large surface to work on, such as a table. To prevent an
              accidental electrostatic discharge (which can damage sensitive
              components), make sure you stand on an uncarpeted surface.
              Screwdrivers.<br />
              You will need a Phillips #2 screwdriver for just about everything.
              If you're installing an M.2 device, you'll also need a Phillips #0
              screwdriver.USB flash drive. You will need an 8GB flash drive, or
              larger, to store the installer for the operating system you will
              use. <br /><br />Tip: Magnetic screwdrivers help prevent screws
              from dropping inside the case and shouldn't damage components.
            </p>
          </div>
          <div class="img-cpu"><img src="/parts-info/img-guide/2.jpg" alt="img"></div>
        </div>
        <hr />
        <h1>PREP 3: Gaming PC Parts</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              Now it's time to get your components together. This step can be as
              hands-on or as hands-off as you like; you can thoroughly research
              each individual component on your own and create a custom build
              from scratch, or you can find a pre-made build online and adjust
              it to suit your specific budget and needs. Here are a few things
              to keep in mind as you get started: Budget. We definitely
              recommend coming up with a budget before you start picking
              components. You can always upgrade individual components later.
              Compatibility. Make a build list before you make any purchases—all
              components need to be compatible with all other components. System
              requirements. If you're building this PC because you want to play
              a certain game, check that game's recommended system requirements
              and plan accordingly. In addition to your case, here are the
              components you need to build a gaming PC:<br />
            </p>

            <ul>
              <li>Central Processing Unit (CPU)<br /></li>
              <li>Graphics Processing Unit (GPU)<br /></li>
              <li>Motherboard<br /></li>
              <li>Memory (RAM)<br /></li>
              <li>Storage<br /></li>
              <li>Power Supply Unit (PSU)<br /></li>
              <li>System cooling<br /></li>
              <li>Gaming peripherals<br /></li>
              <li>Operating System (OS)<br /></li>
            </ul>
            <div class="img-pc">
              <img src="/parts-info/img-guide/3.jpg" alt="img" />
            </div>
            <p>
              Let's take a look at what each component does, why it's necessary,
              and what you need to look for while shopping around.<br />
            </p>
            <h2>Central Processing Unit (CPU):-</h2>
            <br />
            <p>
              The brain of your PC, the CPU is responsible for executing
              instructions that are required for programs to run, dictating
              tasks to all other components. It impacts every facet of your
              experience, including gaming, streaming, content creation, and
              multitasking. Choosing the right CPU is essential when building a
              gaming PC. When selecting a CPU for gaming, look for an Intel®
              Core™ processor with a high Max Turbo Frequency—which determines
              the fastest clock speed it can achieve using Intel Turbo Boost
              technology—as well as a high number of cores and threads. Both
              metrics can have a significant impact on performance. A CPU with a
              high Max Turbo Frequency excels at single-threaded performance,
              boosting your FPS in demanding games. More cores and more threads,
              meanwhile, enable you to do more at once, keeping your system
              smooth and responsive as you juggle multiple apps (e.g., your
              game, Discord, and streaming studio software). They also help you
              achieve smooth gameplay on games that are optimized for
              multithreaded rendering, like Valorant1 and Fortnite, and games
              with extensive geometry, like Minecraft.
            </p>

            <div class="img-pc">
              <img src="/parts-info/img-guide/4.jpg" alt="img" />
            </div>
            <h2>Graphics Processing Unit (GPU):-</h2>

            <p>
              Discrete graphics cards—such as an Intel® Arc™ A-series GPU—are
              large, powerful components that plug into the PCIe x16 slot on
              your PC’s motherboard. Together with the CPU, the GPU has a direct
              effect on your in-game FPS and is a must-have for anyone who wants
              to play demanding, graphics-heavy games.<br />

              Intel® Arc™ A-series GPUs are also capable of performing advanced
              rendering techniques like ray tracing and XeSS upscaling, the
              latter of which upscales 1080p resolution to 4K, delivering
              high-fidelity visuals with smooth performance.<br />

              When comparing GPUs for your build, research benchmark scores
              online, or look up the recommended system requirements for some
              upcoming games you’d like to play and go from there.
            </p>

            <h2>Motherboard</h2>

            <p>
              The motherboard is the main circuit board and is connected to
              everything. The CPU sits directly on the motherboard and every
              other component—graphics cards, hard drives, memory, optical
              drives, wireless cards—integrates into the motherboard. One way to
              narrow down your selection of a motherboard is to shop by size.
              The most common form factors are Extended ATX, ATX, microATX, and
              Mini-ITX.
            </p>

            <div class="img-pc"><img src="/parts-info/img-guide/5.jpg" /></div>
            <p>
              Extended ATX motherboards are the largest (12 by 13 inches or 12
              by 10.1 inches) and can often have eight RAM slots (for up to
              128GB of RAM). ATX motherboards are only slightly smaller (12 by
              9.6 inches) and usually top out at four RAM slots. microATX
              motherboards (9.6 by 9.6 inches) can also have up to four RAM
              slots. Mini-ITX motherboards sport the smallest form factor of the
              four (6.7 by 6.7 inches) and often have two RAM slots. As all the
              components plug into the motherboard, it’s important to pick one
              that's large enough to fit current and future hardware. Size alone
              is not the sole factor. Your motherboard needs to be compatible
              with the components you’ll connect to it, both for your current
              build, and with any hardware upgrades you make in the future. (The
              Intel® Desktop Compatibility Tool can help.) Newer motherboards
              have the advantage of supporting the latest, cutting edge
              technologies and standards. Select Intel® 600-Series Chipsets, for
              instance, support powerful next-gen components, including DDR5
              RAM, PCIe 5.0 graphics and SSDs, and integrated Intel® Killer™
              Wi-Fi 6E.
            </p>
          </div>
        </div>
        <hr />
        <h1>STEP 1: Install CPU</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              Parts/tools: Motherboard, CPU Take the motherboard out of its
              antistatic packaging and put it on your work surface. Find the CPU
              socket, which will be covered with a protective plastic cap. In
              one corner of the plastic cap, or more commonly, on the socket
              itself, you'll see a small arrow—take note of where this arrow is.
              Next to the CPU socket, you'll see a small metal lever. Press down
              on the lever and pull it gently to the side (away from the socket)
              to open the socket tray.
            </p>
            <br />
            <div class="img-pc">
              <img src="/parts-info/img-guide/7.jpg" alt="img" />
            </div>
            <br />
            <p>
              Open the CPU and remove it from its packaging. Be very careful
              when handling the CPU as both the CPU and the CPU socket are
              extremely susceptible to physical damage. Hold the CPU on the
              edges—never touch the pins on the bottom of the chip since your
              fingers can imprint them with dust or oil, and try not to touch
              the top of the chip either.
            </p>
          </div>
          <div class="img-pc">
            <img src="/parts-info/img-guide/6.jpg" alt="img" />
          </div>
          <p>In one corner of the CPU, you'll see an arrow. Line this arrow up with the arrow on the socket and gently place the CPU onto the socket.
            Once the CPU has been gently seated, you can lower the retention lever down and push it back into place. Lowering the lever may require some force, but seating the CPU will not!
            <br>
<div class="img-pc">
    <img src="/parts-info/img-guide/8.jpg" alt="img" />
</div>
<img src="/parts-info/img-guide/9.jpg" alt="img" />
          </p>  
        </div>
        <hr />
        <h1>What is the storage</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              the storage i used to store data on a computer and there is
              different types of storage
              <br />
              <br />
              1-A hard disk drive (HDD),<br />
              hard disk, hard drive, or fixed disk, is an electro-mechanical
              data storage device that stores and retrieves digital data using
              magnetic storage with one or more rigid <br />
              <br />
              2- A solid-state drive (SSD) is a solid-state storage device that
              uses integrated circuit assemblies to store data persistently,
              typically using flash memory, and functioning as secondary storage
              in the hierarchy of computer storage. It is also sometimes called
              a semiconductor storage device, a solid-state device or a
              solid-state disk, even though SSDs lack the physical spinning
              disks and movable read–write heads used in hard disk drives (HDDs)
              and floppy disks. SSD also has rich internal parallelism for data
              processing.
              <br />
              <br />
              3. M.2 is a form factor for SSDs (solid-state drives) that’s
              shaped like a stick of gum. These SSDs are generally faster but
              more expensive than traditional, 2.5-inch SSDs.
            </p>
          </div>
          <div class="img-harddisk">
            <img src="/parts-info/img/harddisk.png" alt="img" />
          </div>
        </div>
        <hr />
        <h1>What is a Fans</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              A computer fan is any fan inside, or attached to, a computer case
              used for active cooling. Fans are used to draw cooler air into the
              case from the outside, expel warm air from inside and move air
              across a heat sink to cool a particular component.
            </p>
          </div>
          <div class="img-fan">
            <img src="/parts-info/img/fan.png" alt="img" />
          </div>
        </div>
        <hr />
        <h1>What is a Case</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              The computer case serves mainly as a way to physically mount and
              contain all the actual components inside a computer, like the
              motherboard, hard drive, optical drive, floppy disk drive, etc.
              They typically come bundled with a power supply.
            </p>
          </div>
          <div class="img-case">
            <img src="parts-info/img/case.png" alt="img" />
          </div>
        </div>
        <hr />
        <h1>What is a Graphic Card</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              if the cpu is the brain then the gpu is the computer eyes GPU
              stands for graphics processing unit. You'll also see GPUs commonly
              referred to as graphics cards or video cards. Every PC uses a GPU
              to render images, video and 2D or 3D animations for display. A GPU
              performs quick math calculations and frees up the CPU to do other
              things.
            </p>
          </div>
          <div class="img-GraphicCard">
            <img src="/parts-info/img/Graphic-Card-PNG-Image.png" alt="img" />
          </div>
        </div>
        <hr />
        <h1>What is a Power Supply</h1>
        <hr />
        <div class="content">
          <div>
            <p>
              A power supply takes the AC from the wall outlet, converts it to
              unregulated DC, and reduces the voltage using an input power
              transformer, typically stepping it down to the voltage required by
              the load. For safety reasons, the transformer also separates the
              output power supply from the mains input.
            </p>
          </div>
          <div class="img-powersupply">
            <img src="/parts-info/img/powersupply.png" alt="img" />
          </div>
        </div>
      </main>
      
    </div>
    
  </body>
</html>
