<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>wikipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/build guide/nav1.css" />
  <link rel="stylesheet" type="text/css" href="/build guide/nav2.css" />
  <!-- <link rel="stylesheet" type="text/css" href="build guide/footer.css" /> -->
  <link rel="stylesheet" type="text/css" href="/build guide/main.css" />
  <link rel="stylesheet" type="text/css" href="/build guide/image.css" />
  <script src="main.js"></script>
</head>

<body>
  <header>
    <div class="nav1">
      <a href="/"><img class="logo" src="/logo.png" alt="logo" /></a>
      <nav>
        <form action="/logout?_method=DELETE" method="POST">
          <button class="btn" type="submit">Logout</button>
        </form>
        <!-- <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul> -->
      </nav>
    </div>
    <div class="nav2">
      <ul>
        <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
        <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
        <li class="lol"><a href="/Forums"><button>Forums</button></a></li>

    </div>
  </header>
  <main>
    <h1>
      <strong>How to Build a Gaming PC:</strong><br />

      Separating the gaming PC building process into manageable steps makes it
      much less intimidating. Even if you’re a novice, fret not: No prior
      build experience is required.
    </h1>
    <div><img src="build guide/img/a.jpg" alt="img" /></div>

    <hr />
    <div class="right">
      <div>
        <p>
          Building a gaming PC from scratch is the only sure-fire way to
          ensure that your system is capable of satisfying all of your
          personal preferences. When you determine everything that goes into
          your PC from the power supply up, you know that you'll be able to
          play the games you want at the frame rates you want. In addition, a
          home-built PC keeps the door open for upgrades—as technology
          changes, as your gaming tastes and needs change, or as your budget
          allows. Though building a PC may seem complex—especially if it’s
          your first time working inside the chassis—you might find that it’s
          easier than you think. This comprehensive, step-by-step guide will
          walk you through the process of assembling your very own gaming PC,
          providing plenty of tips and tricks from our veteran builders along
          the way. .
        </p>
      </div>

    </div>
    <hr />
    <h1>PREP 1: PC Build Tools</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Before diving into your build, you’ll need to gather some tools.
          Preparing your materials and workspace ahead of time will help to
          ensure that the build process goes smoothly. Workspace. You will
          need a large surface to work on, such as a table. To prevent an
          accidental electrostatic discharge (which can damage sensitive
          components), make sure you stand on an uncarpeted surface.
          Screwdrivers.<br />
          You will need a Phillips #2 screwdriver for just about everything.
          If you're installing an M.2 device, you'll also need a Phillips #0
          screwdriver.USB flash drive. You will need an 8GB flash drive, or
          larger, to store the installer for the operating system you will
          use. <br /><br />Tip: Magnetic screwdrivers help prevent screws from
          dropping inside the case and shouldn't damage components.
        </p>
      </div>
      <div class="img-cpu"><img src="build guide/img/1.jpg" alt="img"></div>
    </div>
    <hr />
    <h1>PREP 1: gaming pc case </h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Before you start picking out components, you should have a case—or, at least, a case size—in mind.<br>

          The main thing to keep in mind when picking a case is where you're going to put the computer.<br>

          Your PC's final location will dictate how big you can (or cannot) go, and it will also help determine whether
          various premium case features are worth splurging on. You probably don't want to pay for a tempered glass side
          panel if the computer will be hidden under your desk, for example.<br>

          Cases typically come in three sizes: Full-tower, mid-tower, and mini-tower. These are very general categories
          (case sizes are not standardized among manufacturers), but they're based on motherboard size.<br>
        </p>
      </div>
      <div class="img-cpu"><img src="build guide/img/2.jpg" alt="img"></div>
    </div>
    <hr />
    <h1>PREP2 : Gaming PC Parts</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Now it's time to get your components together. This step can be as
          hands-on or as hands-off as you like; you can thoroughly research
          each individual component on your own and create a custom build from
          scratch, or you can find a pre-made build online and adjust it to
          suit your specific budget and needs. Here are a few things to keep
          in mind as you get started: Budget. We definitely recommend coming
          up with a budget before you start picking components. You can always
          upgrade individual components later. Compatibility. Make a build
          list before you make any purchases—all components need to be
          compatible with all other components. System requirements. If you're
          building this PC because you want to play a certain game, check that
          game's recommended system requirements and plan accordingly. In
          addition to your case, here are the components you need to build a
          gaming PC:<br />
        </p>

        <ul>
          <li>Central Processing Unit (CPU)<br /></li>
          <li>Graphics Processing Unit (GPU)<br /></li>
          <li>Motherboard<br /></li>
          <li>Memory (RAM)<br /></li>
          <li>Storage<br /></li>
          <li>Power Supply Unit (PSU)<br /></li>
          <li>System cooling<br /></li>
          <li>Gaming peripherals<br /></li>
          <li>Operating System (OS)<br /></li>
        </ul>
      </div>
      <div class="img-pc">
        <img src="build guide/img/3.jpg" alt="img" />
      </div>
    </div>
    <p>
      Let's take a look at what each component does, why it's necessary, and
      what you need to look for while shopping around.<br />
    </p>
    <hr />
    <h1>Central Processing Unit (CPU):-</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          The brain of your PC, the CPU is responsible for executing
          instructions that are required for programs to run, dictating tasks
          to all other components. It impacts every facet of your experience,
          including gaming, streaming, content creation, and multitasking.
          Choosing the right CPU is essential when building a gaming PC. When
          selecting a CPU for gaming, look for an Intel® Core™ processor with
          a high Max Turbo Frequency—which determines the fastest clock speed
          it can achieve using Intel Turbo Boost technology—as well as a high
          number of cores and threads. Both metrics can have a significant
          impact on performance. A CPU with a high Max Turbo Frequency excels
          at single-threaded performance, boosting your FPS in demanding
          games. More cores and more threads, meanwhile, enable you to do more
          at once, keeping your system smooth and responsive as you juggle
          multiple apps (e.g., your game, Discord, and streaming studio
          software). They also help you achieve smooth gameplay on games that
          are optimized for multithreaded rendering, like Valorant1 and
          Fortnite, and games with extensive geometry, like Minecraft.
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/4.jpg" alt="img" />
      </div>
    </div>
    <hr />
    <h2>Graphics Processing Unit (GPU):-</h2>
    <hr />
    <p>
      Discrete graphics cards—such as an Intel® Arc™ A-series GPU—are large,
      powerful components that plug into the PCIe x16 slot on your PC’s
      motherboard. Together with the CPU, the GPU has a direct effect on your
      in-game FPS and is a must-have for anyone who wants to play demanding,
      graphics-heavy games.<br />

      Intel® Arc™ A-series GPUs are also capable of performing advanced
      rendering techniques like ray tracing and XeSS upscaling, the latter of
      which upscales 1080p resolution to 4K, delivering high-fidelity visuals
      with smooth performance.<br />

      When comparing GPUs for your build, research benchmark scores online, or
      look up the recommended system requirements for some upcoming games
      you’d like to play and go from there.
    </p>
    <hr />
    <h2>Motherboard</h2>
    <hr />
    <div class="content">
      <div>
        <p>
          The motherboard is the main circuit board and is connected to
          everything. The CPU sits directly on the motherboard and every other
          component—graphics cards, hard drives, memory, optical drives,
          wireless cards—integrates into the motherboard. One way to narrow
          down your selection of a motherboard is to shop by size. The most
          common form factors are Extended ATX, ATX, microATX, and Mini-ITX.
        </p>
      </div>
      <div class="img-pc"><img src="build guide/img/5.jpg" /></div>
    </div>

    <p>
      Extended ATX motherboards are the largest (12 by 13 inches or 12 by 10.1
      inches) and can often have eight RAM slots (for up to 128GB of RAM). ATX
      motherboards are only slightly smaller (12 by 9.6 inches) and usually
      top out at four RAM slots. microATX motherboards (9.6 by 9.6 inches) can
      also have up to four RAM slots. Mini-ITX motherboards sport the smallest
      form factor of the four (6.7 by 6.7 inches) and often have two RAM
      slots. As all the components plug into the motherboard, it’s important
      to pick one that's large enough to fit current and future hardware. Size
      alone is not the sole factor. Your motherboard needs to be compatible
      with the components you’ll connect to it, both for your current build,
      and with any hardware upgrades you make in the future. (The Intel®
      Desktop Compatibility Tool can help.) Newer motherboards have the
      advantage of supporting the latest, cutting edge technologies and
      standards. Select Intel® 600-Series Chipsets, for instance, support
      powerful next-gen components, including DDR5 RAM, PCIe 5.0 graphics and
      SSDs, and integrated Intel® Killer™ Wi-Fi 6E.
    </p>

    <hr />
    <h1>STEP 1: Install CPU</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Parts/tools: Motherboard, CPU Take the motherboard out of its
          antistatic packaging and put it on your work surface. Find the CPU
          socket, which will be covered with a protective plastic cap. In one
          corner of the plastic cap, or more commonly, on the socket itself,
          you'll see a small arrow—take note of where this arrow is. Next to
          the CPU socket, you'll see a small metal lever. Press down on the
          lever and pull it gently to the side (away from the socket) to open
          the socket tray.
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/7.jpg" alt="img" />
      </div>
    </div>
    <div class="content">
      <div>
        <p>
          Open the CPU and remove it from its packaging. Be very careful when
          handling the CPU as both the CPU and the CPU socket are extremely
          susceptible to physical damage. Hold the CPU on the edges—never
          touch the pins on the bottom of the chip since your fingers can
          imprint them with dust or oil, and try not to touch the top of the
          chip either.
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/6.jpg" alt="img" />
      </div>
    </div>
    <div class="content">
      <div>
        <p>
          In one corner of the CPU, you'll see an arrow. Line this arrow up
          with the arrow on the socket and gently place the CPU onto the
          socket. Once the CPU has been gently seated, you can lower the
          retention lever down and push it back into place. Lowering the lever
          may require some force, but seating the CPU will not!
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/8.jpg" alt="img" />
      </div>
    </div>
    <div class="content">
      <div>
        <p>
          Slide the M.2 SSD gently into the slot. When it's fully seated, it
          will stand off the motherboard about a 35-degree angle. Push the SSD
          down and replace the tiny screw to lock it in place.
        </p>
      </div>
      <div>
        <img src="build guide/img/9.jpg" alt="img" />
      </div>
    </div>
    <hr />
    <h1>STEP 2: (Optional) Install M.2 SSDs</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Parts/tools: Motherboard, M.2 SSD, Phillips #0 screwdriver,
          motherboard user manual<br /><br />

          If you want to install an M.2 SSD, now is a good time to do so.
          First, find the M.2 slot on your motherboard. It's a small,
          horizontal slot with a tiny screw across from it. If you can't find
          it, if you find multiple M.2 slots, or if you are planning on
          installing more than one M.2 SSD, consult the user manual that came
          with your motherboard.<br /><br />

          Remove the tiny screw with a Phillips #0 screwdriver. Don't lose it.
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/9.jpg" alt="img" />
      </div>
      <p>
        Slide the M.2 SSD gently into the slot. When it's fully seated, it
        will stand off the motherboard about a 35-degree angle. Push the SSD
        down and replace the tiny screw to lock it in place.<br />
      </p>
      <div class="img-pc">
        <img src="build guide/img/10.jpg" alt="img" />
      </div>
    </div>
    <hr />
    <h1>STEP 3: Install CPU Cooling</h1>
    <hr />
    <div class="content">
      <div class="img-pc">
        <img src="build guide/img/11.jpg" alt="img" />
        <img src="build guide/img/12.jpg" alt="img" />
        <img src="build guide/img/13.jpg" alt="img" />
      </div>
      <div>
        <p>
          <i>Parts/tools</i>: Motherboard with installed CPU, CPU cooler,
          thermal paste, CPU cooler manual<br />

          There are different types of CPU coolers. For exact installation
          instructions, we recommend you consult the manual that came with
          your CPU cooler.<br />

          Some coolers require a mounting bracket. The motherboard may have a
          bracket pre-installed; you may need to remove this bracket if your
          cooler doesn't need a bracket, or replace this bracket if your
          cooler uses a different bracket. Do this before putting the
          motherboard inside the case.<br />

          Some coolers come with thermal paste pre-applied to the conductive
          material (which sits on the CPU) and some coolers do not. If your
          cooler does not have pre-applied thermal paste, you will need to
          manually apply thermal paste before you seat the cooler. To apply
          thermal paste, squeeze a small dot (no larger than a grain of rice)
          onto the middle of the CPU. Then, place the cooler on the CPU—the
          pressure will spread the thermal paste adequately.<br />
        </p>
      </div>


    </div>
    </div>
    <hr />
    <h1>STEP 4: Install Memory (RAM)</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          <i>Parts/tools:</i> Motherboard, RAM, motherboard user manual<br />

          Determine how many RAM slots your motherboard has (most have either
          two or four). If you're going to fill all available RAM slots,
          simply snap the RAM into place. If you're not going to fill all of
          the RAM slots, consult the user manual to find the correct
          configuration and populate the RAM slots accordingly.<br />
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/14.jpg" alt="img" />
        <img src="build guide/img/15.jpg" alt="img" />
      </div>

    </div>
    <hr />
    <h1>STEP 5: (Optional) Do a Test Run Outside the Case</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          <i>Parts/tools</i>: Motherboard with CPU and CPU cooler installed,
          RAM, GPU, PSU, screwdriver, motherboard user manual, PC monitor
          (attached to GPU)<br />

          Now that you've installed the CPU and the CPU cooler, you may want
          to perform a quick test run of your components just to make sure
          they all work. This test is much more difficult to perform (and
          troubleshoot) once everything is installed in the chassis. To do
          this, install GPU and connect everything to the power supply (if you
          don't know how to install the GPU, see section below). Make sure the
          power supply is connected to the motherboard (both CPU 8pin and
          24pin) and GPU, then plug it in and turn it on.<br />
          Some higher-end motherboards have power buttons, but many do not. If
          you don't see a power button, locate the power switch pins—small
          pairs of prongs sticking out of colorful nodules. The power switch
          pins may be labeled (something like "PWR_ON"). To turn the
          motherboard on, use a screwdriver to tap both power switch pins at
          once.<br /><br />

          You should now be able to tell if any of your components are dead or
          otherwise malfunctioning. If the motherboard’s lights are blinking
          or it’s beeping, there’s likely a reason for it. Some motherboards
          have a post code display (two digits) to help you identify what the
          problem is. To figure out what it's trying to tell you, consult your
          user manual. If your motherboard has no post code display, connect a
          display to the GPU and see if your system POSTs (does a power-on
          self-test), or starts up and displays the motherboard's logo.<br />

          When you finish the test run, turn off the power supply and wait for
          any LEDs on the motherboard to go dark to ensure there's no residual
          power in the system. Then, uninstall the GPU and unplug all power
          cables before proceeding with the next step.<br />
        </p>
      </div>
      <div class="img-pc">
        <img src="build guide/img/16.jpg" alt="img" />
      </div>
    </div>
    <hr />
    <h1>STEP 6: Mount the Power Supply</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          <i>Parts/tools</i> PSU, case, PSU cables, Phillips #2 screwdriver<br />

          Unpack the PSU (or unplug it from the components if you opted for a
          test run) and set its cables aside (if it’s a full or semi-modular
          unit).<br />

          Take a look at your case and figure out where the PSU is supposed to
          go (probably on the bottom, near the back) and how it can be
          oriented. Ideally, you want to orient the PSU so that its fan faces
          outside the case (via a vent). If your case has a vent on the
          bottom, you can mount the PSU upside down, so long as the bottom
          vent will receive decent airflow when the PC is finished.<br />

          If your case has no vents, mount the PSU so the fan is facing up
          (into the case) and make sure it has enough clearance.<br />

          Attach the PSU to the case using the four screws that came with the
          PSU.<br />
          If you're using a non-modular or semi-modular power supply, now is
          the time to run the attached cables through the case to where
          they'll need to end up (make use of cable management features if
          your case has them).<br />
        </p>
      </div>
      <div class="img-PC">
        <img src="build guide/img/17.jpg" alt="img" />
        <img src="build guide/img/18.jpg" alt="img" />
      </div>
    </div>
    <hr />
    <h1>STEP 7: Install Motherboard</h1>
    <hr />
    <div class="content">
      <div class="img-PC">
        <img src="build guide/img/19.jpg" alt="img" />
        <img src="build guide/img/20.jpg" alt="img" />
        <img src="build guide/img/21.jpg" alt="img" />
      </div>
      <div>
        <p>
          <i>Parts/tools</i>: Case, motherboard, I/O shield (if not attached
          to the motherboard), Phillips #2 screwdriver, screws, motherboard
          user manual<br />

          If your motherboard came with an unattached I/O shield—a rectangular
          sheet of metal with cutouts for the motherboard's ports—you should
          first snap it into place in the back of your case (make sure it's
          oriented correctly). I/O shields usually have sharp edges, so watch
          your fingers.<br />

          Once the I/O shield is in place, you can install the motherboard.
          Double-check to make sure your cables are all threaded through to
          the correct place, and then place the motherboard (align it with the
          I/O shield, first). Using a Phillips #2 screwdriver, mount the first
          screw—the center screw—to hold the motherboard in place. Make sure
          you do not drag your motherboard across the standoffs attached to
          the chassis.<br />
          The number of screws that you will need to mount the motherboard
          will vary based on the board, but a full-size ATX motherboard
          usually takes nine screws. Fill all available screw holes.<br />

          Connect the power supply to the motherboard. There are two main
          connections—an 8-pin CPU connector toward the top of the board and a
          24-pin connector from the side.<br />
        </p>
      </div>

    </div>
    <hr />
    <h1>STEP 8: Install GPU</h1>
    <hr />
    <div class="img-PC">
      <img src="build guide/img/22.jpg" alt="img" />
      <img src="build guide/img/23.jpg" alt="img" />
      <img src="build guide/img/24.jpg" alt="img" />
    </div>
    <div class="content">
      <div>
        <p>
          Parts/tools: Motherboard, GPU, Phillips #2 screwdriver, screws,
          motherboard user manual<br />

          Find the PCIe x16 slot on your motherboard. It will be the longest
          PCIe slot and may be a different color than the others. If your
          motherboard has more than one PCIe x16 slot, check the user manual
          to see if one slot needs to be prioritized. If any slot can be used,
          determine which slot you'll be using based on where other components
          are placed—you want your GPU to have some breathing room.<br />

          Depending on your case, you may need to remove I/O covers (small
          metal tabs blocking the back panel of your case) to accommodate your
          GPU's I/O (HDMI, DisplayPort, DVI, etc.) and make it accessible to
          the exterior of the chassis.<br /><br />
          Remove the GPU from its antistatic packaging and carefully align it
          with both the rear retention bracket and the slot itself, and then
          gently push it into the PCIe x16 slot (you may hear a click). The
          PCIe tab on the motherboard may move into a locked position should
          you need to reseat the GPU.<br /><br />Once the GPU is fully seated,
          secure it to the back of the case using one or two screws. If your
          GPU requires auxiliary power connectors, connect it to the power
          supply.<br />
        </p>
      </div>

    </div>
    <p></p>
    </div>
    <hr />
    <h1>STEP 9: Install Storage</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          Parts/tools: Motherboard, SSDs, HDDs, Phillips #2 screwdriver,
          screws, case/chassis user manual Firstly, inspect your case. Every
          case is a little different when it comes to drive bays. You should
          be able to find a stack of bays in different sizes somewhere inside
          your case. They may have little plastic switches, in which case they
          are tool-free bays, or they may just look like metal brackets.<br />

          Storage generally comes in two sizes, 2.5-inch (HDDs and SSDs) and
          3.5-inch (HDDs). Most 3.5-inch bays can accept 2.5-inch drives, but
          not vice versa (some 3.5-inch bays will have trays that aren't
          designed for 2.5-inch drives, but they can still fit 2.5-inch bays).
          You may also see larger bays in your case—these are for larger
          drives such as optical drives and are usually located in the front
          of the case, near the top.<br />

          If you have tool-free bays, each bay will have its own plastic lever
          or switch. Open or unlock the lever or switch and you should be able
          to pull out the tray. Place your drive in the tray—some 3.5-inchs
          trays will be designed to accept 2.5-inch trays. If they are, you'll
          need to screw the 2.5-inch drive to the 3.5-inch tray so it doesn't
          move around.<br />
          Slide the tray back into the bay. It should click into place.<br />

          If you don't have tool-free bays, you'll see a metal bracket (it
          will be big, like a sheet), with slats or holes in it. To put a
          drive in one of these "bays," all you have to do is slide the drive
          between the metal bracket and the side of your case and screw it
          into place. Use as many screws as the chassis manual recommends, but
          if you don't have enough screws most drives will be fine with just
          two screws.<br />

          Once your drives are all in place, connect them to the motherboard
          (using a SATA cable, which should have come with either your drive
          or your motherboard) and to the power supply.<br />
        </p>
      </div>
      <div class="img-PC">
        <img src="build guide/img/26.jpg" alt="img" />
        <img src="build guide/img/25.jpg" alt="img" />
      </div>
      <div class="img-PC">
      </div>
    </div>
    <hr />
    <h1>STEP 10: Install Operating System</h1>
    <hr />
    <div class="content">
      <div>
        <p>
          <i>Parts/tools</i> PC, monitor, mouse, keyboard, OS saved to a USB
          flash drive<br />

          If you haven’t already prepared your operating system (OS) on a USB
          flash drive, now is the time to do so. (See the above section on
          operating systems under “PREP 3: Select your components” for more
          details.) <br />

          Plug in the USB flash drive that contains your OS, as well as a
          monitor, mouse, and keyboard, and turn on your PC.<br />
          The first screen you see will tell you to press a key to enter the
          system setup or BIOS. Press the key to open BIOS. (If the screen
          flashes off too quickly for you to see the key, consult your
          motherboard's user manual.)<br />

          First, you'll want to check to make sure your components are all
          installed and being recognized. Find the page in BIOS that shows
          your PC's system info (different motherboards have different BIOS
          setups, but you should be able to find a screen that gives you this
          information) and check to make sure the system is recognizing
          everything you've installed so far.<br />

          Next, poke around BIOS until you find the Boot page (may be called
          "Boot Order" or "Boot Priority"). Change the boot order so that your
          USB flash drive is first and the drive you want to install your OS
          on (if you're using an SSD as a boot drive, you will want to install
          the OS here) is second.<br />

          Restart your computer. Your computer will boot from the USB and the
          OS installer will pop up. Follow the instructions to finish the
          installation.<br />
        </p>
      </div>
      <div class="img-PC">
        <img src="build guide/img/27.jpg" alt="img" />
      </div>
    </div>
  </main>
</body>

</html>