<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/addtocart/addtocart.css">
  <title>Product List</title>
  <link rel="stylesheet" type="text/css" href="/completed builds.css">
</head>
<body>
    <header>   
      <div class="nav1">
            <div class="logo"><a href="/"><img src="/logo.png"></a></div>
            <div><nav class="nav nav-masthead justify-content-center float-md-end">
              <form action="/logout?_method=DELETE" method="POST">
                <button class="btn" type="submit" >Logout</button>
              </form>
            </nav>
            </div>
          </div>
            <div class="nav2">
              <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
            <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p id="count">0</p></div>
          </div>
</header>
<main>
    <!-- <h1> pc , gaming , new </h1> -->
    <div class="pc-g-n">

            <img src="ryzen 3600.jpg" alt="" srcset="">
        </div>
        <div class="container">
            <div id="root"></div>
            <div class="sidebar">
                <div class="head"><p>My Cart</p></div>
                <div id="cartItem" , class="text">Your cart is empty</div>
                <div class="foot">
                    <h3 class="text">Total</h3>
                    <h2 id="total">LE 0.00</h2>
                </div
                </div>
        </div>
    </main>
        <script src="/addtocart/addtocart.js"></script>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
</body>
</html>
<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
  new Crate({
      server: '1024678173318860901', // Graduation project Team
      channel: '1102580749980409996' // #our website
  })
</script>