<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" type="text/css" href="/completed builds.css">
</head>
<body>
    <header>   
      <div class="nav1">
            <div class="logo"><a href="/"><img src="/logo.png"></a></div>
            <div><nav class="nav nav-masthead justify-content-center float-md-end">
              <form action="/logout?_method=DELETE" method="POST">
                <button class="btn" type="submit" >Logout</button>
              </form>
            </nav>
            </div>
          </div>
            <div class="nav2">
              <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
          </div>
</header>
  <main>
    <aside>
      <h2>Filters</h2>
      <fieldset>
          <legend>MotherBoards</legend>
          <li><input type="checkbox" name="department" value="Gigabyte"> Gigabyte</li> 
          <li><input type="checkbox" name="department" value="MSI"> Msi</li>
          <lu><input type="checkbox" name="department" value="Asus"> Asus</lu>
          <li><input type="checkbox" name="department" value="Intel"> Intel</li>
      </fieldset>
      <fieldset>
        <legend>GPU</legend>
        <li><input type="checkbox" name="department" value="Nivida"> Nivida</li>
        <li><input type="checkbox" name="department" value="AMD"> AMD</li>
      </fieldset>
      <fieldset>
        <Legend>CPU</Legend>
        <li><input type="checkbox" name="department" value="Intel"> Intel</li>
        <li><input type="checkbox" name="department" value="Ryzen"> Ryzen</li>
      </fieldset>
      <fieldset>
        <legend>Power Supply</legend>
        <li><input type="checkbox" name="department" value="500W"> 500W</li>
        <li><input type="checkbox" name="department" value="600W"> 600W</li>
        <li><input type="checkbox" name="department" value="650W"> 650W</li>
        <li><input type="checkbox" name="department" value="700W"> 700W</li>
        <li><input type="checkbox" name="department" value="1000W"> 1000W</li>
      </fieldset>
        <fieldset>
          <legend>Price Range</legend>
          <li><input type="radio" name="price" value="1000-2500"> 1000 - 2500</li>
          <li><input type="radio" name="price" value="2500-5000"> 2500 - 5000</li>
          <li><input type="radio" name="price" value="5000-10000"> 5000 - 10000</li>
          <li><input type="radio" name="price" value="10000-"> 10000+</li>
        </fieldset>
        <fieldset>
          <legend>Rating</legend>
          <li><input type="checkbox" name="rating" value="4"> 4 Stars &amp; Up</li>
          <li><input type="checkbox" name="rating" value="3"> 3 Stars &amp; Up</li>
          <li><input type="checkbox" name="rating" value="2"> 2 Stars &amp; Up</li>
          <li><input type="checkbox" name="rating" value="1"> 1 Star &amp; Up</li>
        </fieldset>
        <button type="submit">Apply Filters</button>
      </List>
    </aside>
  </main>
</body>
</html>