<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/addtocart/addtocart.css">
  <link rel="stylesheet" type="text/css" href="/Homepage/style.css">
  <link rel="stylesheet" type="text/css" href="/Homepage/nav2.css">
  <!-- <link rel="stylesheet" type="text/css" href="/Homepage/select.css"> -->
  <title>Product List</title>
  <!-- <link rel="stylesheet" type="text/css" href="/completed builds.css"> -->
</head>
<body>
    <header>   
      <div class="nav1">
            <div class="logo"><a href="/"><img src="/logo.png"></a></div>
            <div><nav class="nav nav-masthead justify-content-center float-md-end">
              <form action="/logout?_method=DELETE" method="POST">
                <button class="btn" type="submit" >Logout</button>
              </form>
            </nav>
            </div>
          </div>
            <div class="nav2">
              <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
          </div>
</header>
<main>
          <div class="flex">
            <div class="box">
          <div class="img-box">
              <img class="images" src="/addtocart/image/D6E68uPsNmbASAD3EKyivBRaQXMRD49dp5PCKJ0eLiAh-550x550w.jpg">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>[HighEnd Pre-Build] ultimate performance</p>
          <div class="top">
            <h3>[HighEnd Pre-Build] ultimate performance</h3>
            <ul>
                <li>Motherboard: GIGABYTE B550 AORUS ELITE AX V2 </li>
                <li>processor: yzen 9 5950X 16-Core 3.4 GHz Socket AM4</li>
                <li>RAM: Crucial Ballistix RGB 3200 MHz DDR4 32GB</li>
                <li>GPU:MSI GeForce RTX™ 3080 GAMING Z TRIO 106</li>
                <li>Case + PSU:Antec NX Series NX800 + Seasonic FOCUS GM-850</li>
            </ul>
            <i></i>
        </div>
    </div>
          <h2>EGP 17,237.75</h2><a href="https://elbadrgroupeg.store/bundle-22-10?path=69"><button >Elbadrgroup</button></a></div>
          </div>
<!-- //////////////////////////////////////////// -->
<div class="box">
    <div class="img-box">
        <img class="images" src="/addtocart/image/v5Y9Gesjumsw2DoyYCdO4vfQES7-2000x2000.jpg">
    </div>
    <div class="bottom">
      <div class="tooltip">
    <p>Gaming Bundle 22</p>
    <div class="top">
      <h3>[MidRange Pre-Build] Gaming Bundle 22</h3>
      <ul>
        <li>Motherboard: MSI B560M PRO </li>
        <li>processor: INTEL CORE I5 11400F</li>
        <li>RAM: CRUCIAL BALLISTIX RGB 16GB (2X 8GB) DDR4 3200MHz</li>
        <li>GPU:PALIT RTX 2060 DUAL 12G DDR6</li>
        <li>Case + PSU:THERMALTAKE V200 RGB + PSU 600W + 4 FAN</li>
      </ul>
      <i></i>
  </div>
</div>
    <h2>EGP 19,400,00</h2><a href="https://elbadrgroupeg.store/bundle-22-4?path=69"><button >Elbadrgroup</button></a></div>
    </div>
    <!-- /////////////////////////////// -->
    <div class="box">
        <div class="img-box">
            <img class="images" src="/addtocart/image/Screenshot 2023-04-18 145843.png">
        </div>
        <div class="bottom">
          <div class="tooltip">
        <p>JINX 13400F 2060 -006</p>
        <div class="top">
          <h3>[[MidRange Pre-Build]  JINX 13400F 2060 -006</h3>
          <ul>
            <li>Motherboard: GIGABAYT INTEL B660M DS3H DDR4 </li>
            <li>processor: Intel Core i5-13400F 10 Core 2.50 GHz</li>
            <li>RAM: HP V6 DDR4 16GB 3200Mhz CL16 Desktop Gaming (2x8)</li>
            <li>GPU:GIGABAYT GeForce RTX 2060 WINDFORCE OC 12G</li>
            <li>Case + PSU:COUGAR Case DUOFACE 3 FAN RGB + POWER VTE X2 650W</li>
          </ul>
          <i></i>
      </div>
    </div>
        <h2>EGP 27,999,00</h2><a href="https://www.sigma-computer.com/item?id=5193&name=Jinx_13400F_2060_006-_Intel_Core_i5-13400F-GIGABAYT_B660M_DS3H_DDR4-GIGABAYT_GeForce_RTX_2060_WINDFORCE_OC_12G-HP_V6_DDR"><button >Sigma</button></a></div>
        </div>
      <!-- ///////////////////// -->
      <div class="box">
          <div class="img-box">
              <img class="images" src="/addtocart/image/clcdirbvp012l01omgfom3uf2_INTEL-LOW-END.jpg">
          </div>
      <div class="bottom">
        <div class="tooltip">
      <p>Intel Low End</p>
      <div class="top">
        <h3>[AHW Build] Intel Low</h3>
        <ul>
            <li>Motherboard: ASUS PRIME H510M-E LGA1200 Micro ATX Motherboard </li>
            <li>processor: Intel Pentium Gold G6405 LGA 1200 Processor 2-Core 4-Thread </li>
            <li>RAM: HP V6 8GB DDR4 3200MHz CL16 U-DIMM Desktop Memory</li>
            <li>GPU:GIGABAYT GeForce RTX 2060 WINDFORCE OC 12G</li>
            <li>Case + PSU: XIGMATEK MOON KNIGHT + 500W Power Supply (4x120mm ARGB fan)</li>
        </ul>
        <i></i>
    </div>
    </div>
      <h2>LE 23000.00</h2>
      <a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-intel-low-end-build?cl09qn6e006og01mf91lq435u_ckz5pilve021m01smb3ypgbjt+1|cl09qn6e006of01mfdj9c41p6_ckz2go4y927cm01kw0hds1zs5+1|cl09qn6e006oh01mfctd87gzw_ckuql614g04is01rr44gt33gf+1|cl46q9cnm040g01p621m6co16_clakvbbxk02wa01qlbsu776nv+1|cl09qn6e006oj01mfgstp78qz_|cl09qn6e006ok01mf7jstc2wo_|cl09qn6e006ol01mf0evd1uau_|cl09qn6e006om01mfe8p518be_"><button>Arabhardware</button></a>
    </div>
      </div>
    </div>
    <div class="flex">
      <div class="box">
          <div class="img-box">
              <img class="images" src="/addtocart/image/clbeyyned00aa01m4hbw86bav_LOL-Build-Thumbnail.jpg" >
          </div>
          <!-- //////////////////////////// -->
      <div class="bottom">
        <div class="tooltip">
      <p>Intel LOL Build v.2</p>
      <div class="top">
        <h3>[AHW Pre-Build] LOL Build v.2</h3>
        <ul>
            <li>Motherboard: ASUS PRIME H510M-K</li>
            <li>processor: Intel Core i5-10400 LGA1200 6-Core 12-Thread TRAY (4.3 GHz Turbo)</li>
            <li>RAM: HP V6 DDR4 3200MHz U-DIMM (Black) 2x8G</li>
            <li>GPU: Palit GeForce GTX 1650 4GB GDDR6 Graphics Card</li>
            <li>Case + PSU: XIGMATEK MASTER X + 600W (4x120mm RGB fan, Non Controllable RGB Fans)</li>
        </ul>
        <i></i>
    </div>
</div>
      <h2>EGP 17,237.75</h2><a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-pre-build-lol-build-v-2-1"><button >Arabhardware</button></a></div>
      </div>
      <!-- ////////////////////////////// -->
      <div class="box">
          <div class="img-box">
              <img class="images" src="/addtocart/image/clcdiqzw5012k01omhxw0hexy_INTEL-BUDGET.jpg">
          </div>
      <div class="bottom">
        <div class="tooltip">
      <p>Intel Budget</p>
      <div class="top">
        <h3>[AHW Build] Intel Budget</h3>
        <ul>
            <li>Motherboard: ASUS PRIME H510M-K LGA1200 Micro ATX Motherboard </li>
            <li>processor: Intel Core i5-10400F LGA 1200 Processor 6-Core 12-Threads (Max Boost 4.3 GHz) </li>
            <li>RAM: HP V6 8GB DDR4 3200MHz CL16 U-DIMM Desktop Memory</li>
            <li>GPU:ASUS TUF GeForce GTX 1650 4GB GDDR6 Graphics card</li>
            <li>Case + PSU:XIGMATEK MOON KNIGHT + 500W Power Supply (4x120mm ARGB fan)</li>
        </ul>
        <i></i>
    </div>
</div>
<h2>EGP 15,609.75</h2><a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-build-intel-budget"><button >Arabhardware</button></a></div>
      </div>
      <!-- //////////////////////// -->
      <div class="box">
        <div class="img-box">
            <img class="images" src="/addtocart/image/clceqgx05025u01omgq0u2lu8_INTEL_EXTREME.jpg">
        </div>
    <div class="bottom">
      <div class="tooltip">
    <p>Extreme 12th Generation</p>
    <div class="top">
      <h3>[AHW Build] Intel Extreme 12th Generation</h3>
      <ul>
        <li>Motherboard: ASUS TUF GAMING B660M-E DDR4 LGA 1700 Micro ATX Motherboard </li>
        <li>processor: Intel Core i7-12700K LGA1700 12-Core (8P+4E) 20-Thread (5.00 GHz Turbo) </li>
        <li>RAM:Kingston Fury Beast RGB 8GB DDR4 3200MHz CL16 KF432C16BBA/8 Desktop Memory</li>
        <li>GPU:EVGA GeForce RTX 2060 SC OC 6GB GDDR6 Graphics Card</li>
        <li>Case + PSU:LIAN LI LANCOOL 205 BLACK M-ATX Mid-Tower Case (2X120mm fan) + XIGMATEK SPECTRUM 700W 80 PLUS White Power Supply</li>>
      </ul>
      <i></i>
  </div>
</div>
<h2>EGP 37,522.875</h2><a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-build-intel-high-end-12gen"><button >Arabhardware</button></a></div>
    </div>
    <!-- /////////////////////// -->
    <div class="box">
        <div class="img-box">
            <img class="images" src="/addtocart/image/clcdiqey3012i01om3x07f34d_INTEL-MID-RANGE--12-RANGE.jpg">
        </div>
    <div class="bottom">
      <div class="tooltip">
    <p>Intel Mid-Range</p>
    <div class="top">
      <h3>[AHW Build] Intel Mid-Range 12 Generation</h3>
      <ul>
        <li>Motherboard: ASUS PRIME H610M-K DDR4 LGA 1700 Micro ATX Motherboard </li>
        <li>processor: Intel Core i3-12100F LGA 1700 Processor 4-Core (4-Performance-cores) 8-Thread (Max Boost 4.30 GHz) </li>
        <li>RAM:HP V6 8GB DDR4 3200MHz CL16 U-DIMM Desktop Memory</li>
        <li>GPU:ASUS TUF GeForce GTX 1650 4GB GDDR6 Graphics card</li>
        <li>Case + PSU: XIGMATEK MOON KNIGHT + 500W Power Supply (4x120mm ARGB fan)</li>>
      </ul>
      <i></i>
  </div>
</div>
<h2>EGP 15,838.875</h2><a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-build-intel-mid-range-12-generation"><button >Arabhardware</button></a></div>

</div>

      <!-- ////////////////////////////// -->
      <div class="box">
        <div class="img-box">
            <img class="images" src="/addtocart/image/clbeyzl7100ac01m4cojtb21d_VALORANT-Build-Thumbnail.jpg">
        </div>
    <div class="bottom">
      <div class="tooltip">
    <p>Intel Valorant Build v.2</p>
    <div class="top">
      <h3>[AHW Pre-Build] Valorant Build v.2 </h3>
      <ul>
        <li>Motherboard: ASUS PRIME H510M-K LGA1200 Micro ATX </li>
        <li>Processor: Intel Core i5-11400F LGA1200 Processor 6-Core 12-Thread (Max Boost 4.4 GHz)</li>
        <li>RAM: HP V6 DDR4 3200MHz U-DIMM (Black) 2x8GB</li>
        <li>GPU: ASUS TUF Gaming GeForce GTX 1660 Ti EVO OC 6GB GDDR6</li>
        <li>Case + PSU: XIGMATEK MASTER X + 600W (4x120mm RGB fan, Non Controllable RGB Fans)</li>
      </ul>
      <i></i>
  </div>
</div>
<h2>EGP 22,158.75</h2><a href="https://store.arabhardware.net/en/product/ahw-builds-1/ahw-pre-build-valorant-build-v-2-1"><button >Arabhardware</button></a></div>

</div>div>
  
    
  </main>
        <script src="/addtocart/addtocart.js"></script>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
</body>
</html>