<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" contetnt="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/picker/CYPP.css">
        <title>Choose Your Pc Part</title>
    </head>
    <body>
        <header>
            <div class="nav1">
            <div class="logo"><a href="/"><img src="/logo.png"></a></div>
            <div><nav class="nav nav-masthead justify-content-center float-md-end">
                <form action="/logout?_method=DELETE" method="POST">
                <button class="btn" type="submit" >Logout</button>
                </form>
            </nav>
            </div>
            </div>
            <div class="nav2">
                <ul>
                    <li class="lol"><a href="/CYPP"><button>Builder</button></a></li>
                    <li class="lol"><button>Build Guide</button></li>
                    <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                    <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
                </ul>
            </div>
        </header>
        <hr>
        <section>
            <header class="h1_CYPP">
                <h1 class="h1s_CYPP"> Choose your PC Parts </h1>
            </header>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>component</th>
                        <th>selection</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CPU</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/CPU" target="_blank">+ Choose a CPU</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>CPU Cooler</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Cooler" target="_blank">+ Choose a CPU Cooler</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Motherboar</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Motherboard" target="_blank">+ Choose a Motherboard</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>RAM</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Memory" target="_blank">+ Choose a Memory</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Storage</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Storage" target="_blank">+ Choose a Storage</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Video card</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/GPU" target="_blank">+ Choose a Video card</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Case</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Case" target="_blank">+ Choose a Case</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Power Supply</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/PSU" target="_blank">+ Choose a Power Supply</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>Monitor</td>
                        <td class="first_CYPP"><a class="a1_CYPP" href="/Monitor" target="_blank">+ Choose a Monitor</a></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="tf_CYPP" colspan="2">Total cost</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </section>
        <hr>
        <footer>
            footer
        </footer>
    </body>
</html>