<!doctype html>
<html lang="en" class="">

<head>
  <meta charset="utf-8">
  <title>Forums</title>
      <link rel="stylesheet" type="text/css" href="/Forums/_____OLD/comment.css">
  <link rel="stylesheet" type="text/css" href="/Forums/_____OLD/home.css">
  <link rel="stylesheet" type="text/css" href="/Forums/_____OLD/nav2.css">
  <!-- <link rel="stylesheet" type="text/css" href="/Forums/_____OLD/main-comment.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation:wght@500&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="nav1">
      <div class="logo"><a href="/"><img src="/image-removebg-preview.png"></a></div>
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit">Logout</button>
          </form>
        </nav>
      </div>
    </div>
    <div class="nav2">
      <ul>
        <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
        <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
        <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
        <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
      </ul>
    </div>
  </header>
  <main>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="label1">Write a comment</label>
          <br>
          <textarea id="textarea2" rows="3" class="form-control"><%= name%>:</textarea>
        </div>
      </div>
      <div class="col-md-12"> 
        <button onclick="myFunction()" id="submitBtn" class="btn btn-primary float-right">Post comment</button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="container">
      </div>
    </div>
    </div>
    </form>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
  <script src="/Forums/js/app.js"></script>
  <script>
    function myFunction() {
      let container = document.getElementById("container");
      let div = document.createElement("div");
      div.append(document.getElementById("textarea2").value);
      container.append(div);

    }


  </script>
  <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '1024678173318860901', // Graduation project Team
        channel: '1102580749980409996' // #our website
    })
  </script>
</body>

</html>