<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Laptops.css">
    <link rel="stylesheet" type="text/css" href="/Homepage/style.css">
    <link rel="stylesheet" type="text/css" href="/Homepage/nav2.css">
    <title>LTGN</title>
</head>
<body>
    <header>
        <div class="nav1">
        <div class="logo"><a href="/"><img class="new" src="/logo.png"></a></div>
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit" >Logout</button>
            </form>
        </nav>
        </div>
        </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
        </div>

    </header>
    
    <main>

        <div class="flex">
            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/Used gaming laptops/OLX/DELL/f2.png">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Dell G3 15-3579 Gaming Laptop</p>
          <div class="top">
            <a><h3>Dell G3 15-3579 Gaming Laptop</h3></a>
            <ul>
                <li>Processor: Intel Core i7-8750H </li>
                <li>RAM: 16 GB DDR4 2666MHz </li>
                <li>GPU: NVIDIA Geforce GTX 1050TI 4GB </li>
            </ul>
             
        </div>
        </div>
        </div>  
          <h2>EGP 19,000</h2><a href="https://www.olx.com.eg/en/ad/dell-g3-15-3579-gaming-laptop-ID196652520.html" target="_blank"><button >OlX</button></a></div>
        
        <!--////////////////////////////-->
        
            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/Used gaming laptops/asdasgasgaegaegasd.png">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Lenovo Gaming Legion Y530</p>
          <div class="top">
            <a><h3>Lenovo Gaming Legion Y530</h3></a>
            <ul>
                <li>Processor: Intel Core i7-8750H  </li>
                <li>RAM: RAM 16 GB DDR4 </li>
                <li>GPU: NVIDIA GeForce GTX 1050Ti 4 GB </li>
            </ul>
             
        </div>
        </div>
        </div>  
          <h2>EGP 20,250</h2><a href="https://www.olx.com.eg/en/ad/lenovo-gaming-legion-y530-ID197184101.html" target="_blank"><button >OlX</button></a></div>
        </div> </div>

        <!--////////////////////////////-->

        <div class="flex">
            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/Used gaming laptops/agaeaeeeeeee.png">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Lenovo IdeaPad Gaming 3 16IAH7</p>
          <div class="top">
            <a><h3>Lenovo IdeaPad Gaming 3 16IAH7</h3></a>
            <ul>
                <li>Processor: Intel core  i7-12650H </li>
                <li>RAM: 16 GB RAM </li>
                <li>GPU: NVIDIA Geforce RTX 3060  6 GB </li>
            </ul>
             
        </div>
        </div>
        </div>  
          <h2>EGP 40,000</h2><a href="https://www.olx.com.eg/en/ad/lenovo-ideapad-gaming-3-16iah7-i7-12650h-exchange-with-macbook-16m1-ID197096631.html" target="_blank"><button >OlX</button></a></div>
            
          <!--////////////////////////////-->
          
          <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/Used gaming laptops/asgaeaeeeeeeeeed.png">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Acer Aspire 7 Gaming</p>
          <div class="top">
            <a><h3>Acer Aspire 7 Gaming</h3></a>
            <ul>
                <li>Processor: Core i5-10300H </li>
                <li>RAM: 16GB DDR4 </li>
                <li>GPU: NVIDIA Geforce GTX 1650 4GB GDDR6 </li>
            </ul>
             
        </div>
        </div>
        </div>  
          <h2>EGP 16,500</h2><a href="https://www.facebook.com/marketplace/item/460302669595269/?ref=category_feed&referral_code=null&referral_story_type=post&tracking=browse_serp%3A88a6d964-0d10-4b59-8dab-eae7320e5a39" target="_blank"><button >Facebook Marketplace</button></a></div>
            
        <!--////////////////////////////-->

          <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/Used gaming laptops/etryehdhdfhdfh.png">
          </div>
          <div class="bottom">
            <div class="tooltip">
          <p>MSI Gaming Laptop</p>
          <div class="top">
            <a><h3>MSI Gaming Laptop</h3></a>
            <ul>
                <li>Processor: Intel Core i7-10750H </li>
                <li>RAM: 16 GB DDR4 </li>
                <li>GPU: VGA NVIDIA GeForce RTX 2070 8GB DDR6 </li>
            </ul>
             
        </div>
        </div>
        </div>  
          <h2>EGP 30,000</h2><a href="https://www.facebook.com/marketplace/item/766412801614489/?ref=category_feed&referral_code=null&referral_story_type=post&tracking=browse_serp%3A88a6d964-0d10-4b59-8dab-eae7320e5a39" target="_blank"><button >Facebook Marketplace</button></a>
        </div>
        </div>
        </main>
</body>
</html>
