<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/selected menu/pc-g-n.css" type="text/css" media>
    <title>LTPU</title>
</head>
<body>
    <header>
        <div class="nav1">
        <div class="logo"><a href="/"><img src="/logo.png"></a></div>
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit" >Logout</button>
            </form>
        </nav>
        </div>
        </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
        </div>
    </header>

    <h1> laptop , rendering , used </h1>
    
</body>
</html>