<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Laptops.css">
    <link rel="stylesheet" type="text/css" href="/Homepage/style.css">
    <link rel="stylesheet" type="text/css" href="/Homepage/nav2.css">
    <title>LTGN</title>
</head>
<body>
    <header>
        <div class="nav1">
        <div class="logo"><a href="/"><img class="new" src="image-removebg-preview.png"></a></div> 
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit">Logout</button>
            </form>
        </nav>
         </div>
         </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
         

    </header>
    
    <main>

      <div class="flex">
        <div class="box">
      <div class="img-box">
      <img class="images" src="/imgs/New gaming laptops/Amazon gaming laptops/DELL/ffffd.png">
    </div>
      <div class="bottom">
        <div class="tooltip">
      <p>DELL G15 5511 11G Gaming Laptop</p>
       
      <div class="top">
        <h3>DELL G15 5511 11G Gaming Laptop</h3>
        <ul>
            <li>Processor: Intel Core i5 11400H </li>
            <li>RAM: Dual-channel DDR4 4 GB, 8 GB, 16 GB RGB 3200 MHz </li>
            <li>GPU: NVIDIA GeForce RTX RT3050 4 GB GDDR6</li>
        </ul>
      </div>
    </div>
          <h2>EGP 33,000</h2>
      <a href="https://www.amazon.eg/-/en/DELL-G15-5511-Gaming-Laptop/dp/B09Q6KYSN6/ref=sr_1_15?keywords=gaming+laptop&qid=1681096661&refinements=p_36%3A26059290031&rnid=26059285031&s=computers&sr=1-15" target="_blank">
        <button >Amazon</button>
      </a>
      </div>
      </div>
          <!--/////////////////////////////-->

            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/New gaming laptops/Amazon gaming laptops/asdasdad.png">
            </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Acer Aspire 3</p>
          <div class="top">
            <a><h3>Acer Aspire 3</h3></a>
            <ul>
                <li>Processor: IIntel Core i7-1165G7 </li>
                <li>RAM: 8GB DDR4 </li>
                <li>GPU: NVIDIA GeForce MX350 2GB </li>
            </ul>
          </div>
        </div>
          <h2>EGP 18,724</h2>
          <a href="https://www.amazon.eg/-/en/Acer-Aspire-i7-1165G7-NVIDIA-GeForce/dp/B0BLVWV4BC/ref=asc_df_B0BLVWV4BC/?tag=egoshpadde-21&linkCode=df0&hvadid=544972315918&hvpos=&hvnetw=g&hvrand=7900002209280925993&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1005394&hvtargid=pla-1909197667889&psc=1" target="_blank">
            <button >Amazon</button>
          </a>
        </div>
      </div>
        </div>
          <!--/////////////////////////////-->

          <div class="flex">
            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/New gaming laptops/Amazon gaming laptops/asdagasgadgadg.png">
            </div>
          <div class="bottom">
            <div class="tooltip">
          <p>HP Victus 15-fa0031dx Gaming Laptop</p>
          <div class="top">
            <a><h3>HP Victus 15-fa0031dx Gaming Laptop</h3></a>
            <ul>
                <li>Processor: Intel Core i5-12450H </li>
                <li>RAM: 8GB RAM </li>
                <li>GPU: Nvidia GeForce GTX 1650 4GB GDDR6 </li>
            </ul>
          </div>
        </div>
          <h2>EGP 26,999</h2>
          <a href="https://www.amazon.eg/%D9%84%D9%84%D8%A7%D9%84%D8%B9%D8%A7%D8%A8-i5-12450H-%D8%AC%D9%8A%D8%AC%D8%A7%D8%A8%D8%A7%D9%8A%D8%AA%D8%8C-%D8%A7%D9%86%D9%81%D9%8A%D8%AF%D9%8A%D8%A7-%D8%AC%D9%8A%D8%AC%D8%A7%D8%A8%D8%A7%D9%8A%D8%AA/dp/B0B67521S5/ref=asc_df_B0B67521S5/?tag=egoshpaddear-21&linkCode=df0&hvadid=544899003033&hvpos=&hvnetw=g&hvrand=1137656341446495624&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1005394&hvtargid=pla-1906904239432&th=1" target="_blank">
            <button >Amazon</button>
          </a>
        </div>
      </div>
          <!--/////////////////////////////-->

            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/New gaming laptops/Amazon gaming laptops/asdagagahahhhh.png">
            </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Asus ROG Zephyrus G14 </p>
          <div class="top">
            <a><h3>Asus ROG Zephyrus G14 </h3></a>
            <ul>
                <li>Processor: AMD Ryzen™ 9 5900HS </li>
                <li>RAM: 16GB DDR4 RAM </li>
                <li>GPU: NVIDIA GeForce RTX 3050 4GB GDDR6</li>
            </ul>
          </div>
        </div>
          <h2>EGP 35,999</h2>
          <a href="https://www.jumia.com.eg/asus-rog-zephyrus-g14-ga401qc-k2171t-amd-ryzentm-9-5900hs-14-ram-16-ssd-512gb-3050-4gb-win10-40813450.html" target="_blank">
            <button >Jumia</button>
          </a> 
        </div>
      </div>
          <!--/////////////////////////////-->

            <div class="box">
          <div class="img-box">
              <img class="images" src="/imgs/New gaming laptops/Amazon gaming laptops/asgaearaeraer.png">
            </div>
          <div class="bottom">
            <div class="tooltip">
          <p>Lenovo NB-LENOVO-IDEAPAD GAMING 3</p>
          <div class="top">
            <h3>Lenovo NB-LENOVO-IDEAPAD GAMING 3</h3>
            <ul>
                <li>Processor: Intel Core i7-11370H </li>
                <li>RAM: 16GB SO-DIMM DDR4-3200 </li>
                <li>GPU: NVIDIA GeForce RTX 3050 4GB GDDR6</li>
            </ul>
          </div>
        </div>
          <h2>EGP 35,999</h2>
          <a href="https://www.jumia.com.eg/lenovo-nb-lenovo-ideapad-gaming-3-ci7-11370h-512gb-ssd-16gb-rtx3050-4gb-15.6-fhd-black-40102994.html" target="_blank">
            <button >Jumia</button>
          </a>
        </div>
        </div>
        </div>
          <!--/////////////////////////////-->
    </main>

    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
      new Crate({
          server: '1024678173318860901', // Graduation project Team
          channel: '1102580749980409996' // #our website
      })
    </script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>