<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Laptops.css" type="text/css" media>
    <title>LTGU</title>
</head>
<body>
    <header>
        
        <div class="nav1">
        <div class="logo"><a href="/"><img src="/logo.png"></a></div>
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit" >Logout</button>
            </form>
        </nav>
        </div>
        </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
        </div>
    </header>
    <div class="images_div">
    <h1> Used Gaming Laptops </h1>
            <h3> Gaming laptops from OlX </h3>
            <br>
    <p>
        Dell G3 15-3579 Gaming Laptop, Intel Core i7,
        8750H-16GB RAM,1TB HDD + 256GB SSD - 15.6-inch FHD,
        Intel UHD Graphics 630, 4GB GTX 1050 Ti
   </p>
   <br>
        <div class="contaner">
        <a href="https://www.olx.com.eg/en/ad/dell-g3-15-3579-gaming-laptop-ID196652520.html" target="_blank">
                <div class="table">
        <div><img src="/imgs/Used gaming laptops/OLX/DELL/f1.png"></div>
        <div><img src="/imgs/Used gaming laptops/OLX/DELL/f2.png">
        <img src="/imgs/Used gaming laptops/OLX/DELL/f3.png"></div>
        <div class="pop-up"><img src="/imgs/Used gaming laptops/OLX/DELL/fd.png"></div>
    </div>
</a>
        </div>
    <hr>
    <br>
    <p>
        Dell Inspiron 15-7577 Gaming Laptop - Intel Core i7-7700HQ,
        16GB RAM, 1TB HDD -256GB SSD, 15.6 Inch FHD, 6GB NVIDIA GeForce
    </p>
<br>
        <br>
        <div class="contaner">
            <a href="https://www.olx.com.eg/en/ad/dell-inspiron-7577-gaming-i7-7700hq-gtx-1060-6gb-ID196745553.html" target="_blank">
            <div class="table-1">
        <div class="one"><img src="/imgs/Used gaming laptops/OLX\DELL/s1.png"></div>
        <div class="two"><img src="/imgs/Used gaming laptops/OLX\DELL/s2.png"></div>
        <div class="there"><img src="/imgs/Used gaming laptops/OLX\DELL/s3.png"></div>
        <div class="four"><img src="/imgs/Used gaming laptops/OLX\DELL/s4.png"></div>
        <div class="pop-up"><img src="/imgs/Used gaming laptops/OLX/DELL/sd.png"></div>
    </div>
</a>
    </div>
    <hr>
    <br>
    <p>
        Lenovo IdeaPad Gaming 3 Laptop - Intel Core i5-10300H,
        8GB RAM, 1TB HDD + 256GB SSD,
        NVIDIA GeForce GTX 1650 4GB GDDR6 Graphics
    </p>
    <br>
        
        <br>
        <div class="contaner">
            <a href="https://www.olx.com.eg/en/ad/dell-g3-15-3579-gaming-laptop-ID196652520.html" target="_blank">
            <div class="table-3">
        <img src="/imgs/Used gaming laptops/OLX/Lenovo/f1.png">
        <img src="/imgs/Used gaming laptops/OLX/Lenovo/f2.png">
        <div class="pop-up-2"><img src="/imgs/Used gaming laptops/OLX/Lenovo/fd.png"></div>
    </div>
</a>
    </div>
    
    <!-- <h3> Gaming laptops from Facebook marketing place </h3> -->



</body>
</html>