<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Laptops.css" type="text/css" media>
    <title>LTGN</title>
</head>
<body>
    <header>
        <div class="nav1">
        <div class="logo"><a href="/"><img class="new" src="/logo.png"></a></div>
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit" >Logout</button>
            </form>
        </nav>
        </div>
        </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
        </div>

        
    <h1> laptop , gaming , new </h1>
    </header>

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> cf13e520f6943465d91155b06e4cdc51916d33ff
>>>>>>> Stashed changes
    <div class="images_div">
        <h1> New Gaming Laptops</h1>
            <!--<h3> Gaming laptops from Sigma computer </h3>

            <p><pre>
                HP Pavilion Gaming Laptop 15-dk2029ne Intel Core i7-11370H,
                NVIDIA GeForce RTX 3050 4GB, 16GB DDR4-3200, 256 GB PCIe NVMe,
                1TB 7200 rpm SATA, 15.6 FHD 1920 x 1080 144Hz
            </pre></p>
            <a href="https://www.sigma-computer.com/item?id=4710&name=HP_Pavilion_Gaming_Laptop_15-dk2029ne_Intel%C2%AE_Core%E2%84%A2_i7-11370H_-_NVIDIA%C2%AE_GeForce_RTX%E2%84%A2_3050_4GB_-_16GB_DDR4-3200_-_256_GB_PCIe%C2%AE_NVMe_-_1TB_7200_rpm_SATA_-_15.6_FHD_(1920_x_1080)_144Hz_______" target="_blank"> Sigma-computer: HP Pavilion Gaming Laptop 15-dk2029ne Intel Core i7-11370H  </a>
            <br>
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\f1.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\f2.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\f3.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\fd.png">

                <hr>
            <p><pre>
                HP Victus Gaming Laptop 15-fa0031ne Intel Core i7-12700H,
                NVIDIA GeForce RTX 3050 4GB, 16GB DDR4-3200,
                512 GB PCIe NVMe, 15.6 FHD 144Hz
            </pre></p>
            <a href="https://www.sigma-computer.com/item?id=4717&name=HP_Victus_Gaming_Laptop_15-fa0031ne_Intel%C2%AE_Core%E2%84%A2_i7-12700H_-_NVIDIA%C2%AE_GeForce_RTX%E2%84%A2_3050_4GB_-_16GB_DDR4-3200_-_512_GB_PCIe%C2%AE_NVMe_-_15.6_FHD_144Hz____" target="_blank"> Sigma-computer: HP Victus Gaming Laptop 15-fa0031ne Intel Core i7-12700H </a>
            <br>
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\s1.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\hp\sd.png">
            
                <hr>
            <p><pre>
                2022 Lenovo IdeaPad Gaming Laptop 15.6" FHD IPS 120Hz,
                AMD Ryzen 5 5600H (Beats i7-10850H), GeForce RTX 3050 Ti Graphics,
                16GB DDR4 RAM, 512GB SSD, Backlit Keyboard, Wireless-AX, Windows 11
            </pre></p>
            <a href="https://www.sigma-computer.com/item?id=2657&name=Dell_G5_15-5500_Gaming_laptop_15.6_inch_FHD_Core_i7-10750H_16GB_RAM_512GB_M.2_PCIe_NVMe_NVIDIA_GeForce_RTX_2060_6GB_GDDR6_WIN10" target="_blank"> Sigma-computer: Dell G5 15-5500 Gaming laptop 15.6 inch FHD Core i7-10750H </a>
            <br>
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\DELL\f1.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\DELL\f2.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\DELL\f3.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\DELL\f4.png">
                <img class="new" src="F:\GP_updates\GPLatest\New folder\Sigma gaming laptops\DELL\fd.png">
        
            <hr>
            <hr>
            <hr>-->

            <h3>Gaming laptops from Amazon</h3>
        <section><p><pre>
                DELL G15 5511 11G Gaming Laptop - Intel Core i5 11400H 15.6 in FHD 512 SSD GB,
                8 GB RAM, NVIDIA GeForce RTX RT3050,
                4GB Windows 10, Eng-Ara KB
            </pre></p>
            <a href="https://www.amazon.eg/-/en/DELL-G15-5511-Gaming-Laptop/dp/B09Q6KYSN6/ref=sr_1_15?keywords=gaming+laptop&qid=1681096661&refinements=p_36%3A26059290031&rnid=26059285031&s=computers&sr=1-15" target="_blank"> Amazon: DELL G15 5511 11G Gaming Laptop </a>
            <br><br><br>
            
                <img class="data_new_dell" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\fd1.png">
                <br>
                <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\F2.png">
                <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\F4.png">
                <!--
                <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\F1.png">
                <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\F3.png">
                -->
                <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\DELL\F5.png">

        </section>

            <hr>

        <section><p><pre>
            2022 Lenovo IdeaPad Gaming Laptop 15.6" FHD IPS 120Hz,
            AMD Ryzen 5 5600H (Beats i7-10850H), GeForce RTX 3050 Ti Graphics,
            16GB DDR4 RAM, 512GB SSD, Backlit Keyboard, Wireless-AX, Windows 11
        </pre></p>
        <a href="http://www.amazon.eg/dp/B0B2YBB56J?ref_=cm_sw_r_cp_ud_dp_VW1B03B37AV586JS5PC6" target="_blank"> Amazon: Lenovo IdeaPad Gaming Laptop 15.6" FHD IPS 120Hz </a>
        <br><br><br>

            <img class="data_new_lenovo" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\fd3.png">
            <img class="data_new_lenovo" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\fd2.png">
            <br>
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f1.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f2.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f3.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f4.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f5.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f6.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f7.png">
            <img class="new" src="F:\for_test\imgs\New gaming laptops\Amazon gaming laptops\Lenovo\f8.png">
            
        </section>

        <hr>

        <section><p><pre>
            ASUS TUF GAMING F15 FX506HC-HN002W, 11th Generation Intel® Core™ i5 11400H,
            Ram 8GB, Hard 512GB SSD NVME, GPU Nvidia Geforce RTX 3050 4GB,
            Display 15.6 FHD 144HZ, OS WIN 11, Color ECLIPSE GRAY 
        </pre></p>
        <a href="https://www.amazon.eg/-/en/ASUS-GAMING-FX506HC-HN002W-Generation-Intel%C2%AE/dp/B0BR63KX8M/ref=sr_1_5?keywords=gaming%2Blaptop&qid=1681095395&refinements=p_36%3A26059290031&rnid=26059285031&s=computers&sprefix=gaming%2Blap%2Caps%2C199&sr=1-5&th=1" target="_blank"> Amazon: ASUS TUF GAMING F15 FX506HC-HN002W </a>
        <br><br><br>

            <!--
            <img class="new" src="F:\test\Graduation-Project\public\imgs\New gaming laptops\Amazon gaming laptops\ASUS\fd1.png">
            -->
            <img class="data_new_asus" src="F:\test\Graduation-Project\public\imgs\New gaming laptops\Amazon gaming laptops\ASUS\fd2.png">
            <br>
            <img class="new" src="F:\test\Graduation-Project\public\imgs\New gaming laptops\Amazon gaming laptops\ASUS\f1.png">
            <img class="new" src="F:\test\Graduation-Project\public\imgs\New gaming laptops\Amazon gaming laptops\ASUS\f2.png">
            <img class="new" src="F:\test\Graduation-Project\public\imgs\New gaming laptops\Amazon gaming laptops\ASUS\f3.png">
        
        </section>    

    </div>
    
    <!-- <h1> Gaming Laptops form (Jumia) </h1> -->
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
>>>>>>> cf13e520f6943465d91155b06e4cdc51916d33ff
=======
>>>>>>> cf13e520f6943465d91155b06e4cdc51916d33ff
>>>>>>> Stashed changes
    
</body>
</html>