<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="stylesheet" type="text/css" href="/Sign in.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="contact-box">
			<div class="welcome"><p>welcome </p>
			<img src="/logo.png">
			</div>
			<div class="right">
				<h2>Sign in</h2>

        <form action="/login" method="POST">
      
				<!-- <input type="email" class="field" placeholder="Email">
				<input type="password" class="field" placeholder="password"> -->
				
<!-- Email input -->
  <input type="email" name="email" id="form3Example3" class="field" placeholder="Enter your Email">

<!-- Password input -->

  <input type="password" name="password" id="form3Example4" class="field" placeholder="Enter your Password" >


        <% if (messages.error) { %>
          <div class="alert alert-danger">
            <strong><%= messages.error %> </strong>
          </div>
        <% } %>

				<button class="btn" type="submit">Log in</button>
				<div class="text-center">
          
					<p>Don't have an account yet? <a href="/register">Register</a></p>
          </div>
        </form>
				  </div>
			</div>
		</div>
</body>
</html>