<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>wikipedia</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="parts-info/nav1.css">
    <link rel='stylesheet' type="text/css" href="parts-info/nav2.css">
    <link rel='stylesheet' type="text/css" href="parts-info/dropdown.css">
    <link rel='stylesheet' type="text/css" href="parts-info/footer.css">
    <link rel="stylesheet" type="text/css" href="parts-info/main.css">
    <script src='main.js'></script>
</head>
<body>
    <div class="momo">
    <header>
        <div class="nav1">
            <img class="logo" src="/parts-info/s.png" alt="logo">
        </div>
        <div class="nav2">
            <ul>
                <li class="lol"><button>Builder</button></li>
                <li class="lol"><button>Build Guide</button></li>
                <li class="lol"><button>Completed Build</button></li>
                <li class="lol"><button>Forums</button></li>
                <li class="lol"><button class="bt">Browse Product</button>
                    <div class="dropdown">
                        <div>
                        <table>
                        <tr>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-cpu.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-cpucooler.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-motherboard.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-memory.png" alt="drop"></button></th>
                        </tr>
                        <tr>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-ssd.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-videocard.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-powersupply.png" alt="drop"></button></th>
                        <th><button><img class="drop" src="/parts-info/dropdown/nav-case.png" alt="drop"></button></th>
                        </tr>
                    </table>
                    </div>
                    <div>
                    <ol>
                        <li class="title">Peripherals</li>
                        <hr>
                        <li class="sub-title"><a href="#">Headphones</a></li>
                        <li class="sub-title"><a href="#">Keyboards</a></li>
                        <li class="sub-title"><a href="#">Mice</a></li>
                        <li class="sub-title"><a href="#">Speakers</a></li>
                        <li class="sub-title"><a href="#">Webcams</a></li>
                    </ol>
                    <ol>
                        <li class="title">Displays</li>
                        <hr>
                        <li class="sub-title"><a href="#">Monitors</a></li>
                    </ol>
                    <ol>
                        <li class="title">Software</li>
                        <hr>
                        <li class="sub-title"><a href="#">Operating Systems</a></li>
                    </ol>
                </div>
                <div>
                    <ol>
                        <li class="title">Expansion</li>
                        <hr>
                        <li class="sub-title"><a href="#">Sound Cards</a></li>
                        <li class="sub-title"><a href="#">Wired Networking</a></li>
                        <li class="sub-title"><a href="#">Wireless Networking</a></li>
                    </ol>
                    <ol>
                        <li class="title">Accessories / Other</li>
                        <hr>
                        <li class="sub-title"><a href="#">Case Fans</a></li>
                        <li class="sub-title"><a href="#">Fan Controllers</a></li>
                        <li class="sub-title"><a href="#">Thermal Compound</a></li>
                        <li class="sub-title"><a href="#">External Hard Drives</a></li>
                        <li class="sub-title"><a href="#">Optical Drives</a></li>
                        <li class="sub-title"><a href="#">Uninterruptible Power Supplies</a></li>
                    </ol>
                </div>
                </div>
                </li>
            </ul>
            </div>
        <div class="nav3">
            <ul>
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
</header>
<main>
    <h1>What is a PC</h1>
    <hr>
    <div class="content">
<div><p>A computer is an electronic device that manipulates information, or data. It has the ability to store, retrieve,
     and process data. You may already know that you can use a computer to type documents, send email, play games, 
     and browse the Web.</p></div>
<div><img src="/parts-info/img/pc.jpg" alt="img"></div>
</div>
<hr>
<h1>What is a CPU</h1>
<hr>
<div class="content">
<div><p>A processor (CPU) is the logic circuitry that responds to and processes the basic instructions that drive 
    a computer. The CPU is seen as the main and most crucial integrated circuitry (IC) chip in a computer, 
    as it is responsible for interpreting most of computers commands.</p></div>
<div><img src="/parts-info/img/cpu.png" alt="img"></div>
</div>
<hr>
<h1>What is a Motherboard</h1>
<hr>
<div class="content">
<div><p>A motherboard is a printed circuit board (PCB) that creates a kind of backbone allowing a variety of components 
    to communicate, and that provides different connectors for components such as the central processing unit (CPU), 
    graphics processing unit (GPU),</p></div>
<div><img src="/parts-info/img/mother-bored.png" alt="img"></div>
</div>
<hr>
<h1>What is a RAM</h1>
<hr>
<div class="content">
<div><p>RAM (random access memory) is a computer's short-term memory, where the data that the processor is currently
     using is stored. Your computer can access RAM memory much faster than data on a hard disk, SSD, or other long-term 
     storage device, which is why RAM capacity is critical for system performance.</p></div>
<div><img src="/parts-info/img/RAM.png" alt="img"></div>
</div>
<hr>
<h1>What is a Hard Disk</h1>
<hr>
<div class="content">
<div><p>A computer hard disk drive (HDD) is a non-volatile data storage device. Non-volatile refers to storage devices 
    that maintain stored data when turned off. All computers need a storage device, 
    and HDDs are just one example of a type of storage device.</p></div>
<div><img src="/parts-info/img/hard disk.png" alt="img"></div>
</div>
<hr>
<h1>What is a Fans</h1>
<hr>
<div class="content">
<div><p>A computer fan is any fan inside, or attached to, a computer case used for active cooling. 
    Fans are used to draw cooler air into the case from the outside, expel warm air from inside and move air across 
    a heat sink to cool a particular component.</p></div>
<div><img src="/parts-info/img/fan.png" alt="img"></div>
</div>
<hr>
<h1>What is a Case</h1>
<hr>
<div class="content">
<div><p>The computer case serves mainly as a way to physically mount and contain all the actual components inside 
    a computer, like the motherboard, hard drive, optical drive, floppy disk drive, etc. They typically come bundled 
    with a power supply.</p></div>
<div><img src="/parts-info/img/kesa.png" alt="img"></div>
</div>
<hr>
<h1>What is a Graphic Card</h1>
<hr>
<div class="content">
<div><p>GPU stands for graphics processing unit. You'll also see GPUs commonly referred to as graphics cards 
    or video cards. Every PC uses a GPU to render images, video and 2D or 3D animations for display. A GPU performs 
    quick math calculations and frees up the CPU to do other things.</p></div>
<div><img src="/parts-info/img/Graphic-Card-PNG-Image.png" alt="img"></div>
</div>
<hr>
<h1>What is a Power Supply</h1>
<hr>
<div class="content">
<div><p>A power supply takes the AC from the wall outlet, converts it to unregulated DC, and reduces the voltage using 
    an input power transformer, typically stepping it down to the voltage required by the load. For safety reasons, 
    the transformer also separates the output power supply from the mains input.</p></div>
<div><img src="/parts-info/img/power supply.png" alt="img"></div>
</div>
</main>
<footer>
    <div><img class="logo" src="/parts-info/s.png" alt="logo"></div>
    <div>
        <ol>
            <li class="title">CATEGORIES</li>
            <hr>
            <li class="sub-title"><a href="#">Builder</a></li>
            <li class="sub-title"><a href="#">Build Guides</a></li>
            <li class="sub-title"><a href="#">Completed Builds</a></li>
            <li class="sub-title"><a href="#">Browse Products</a></li>
        </ol>
    </div>
    <div>
        <ol>
            <li class="title">INFORMATION</li>
            <hr>
            <li class="sub-title"><a href="#">Downloads</a></li>
            <li class="sub-title"><a href="#">Forums</a></li>
            <li class="sub-title"><a href="#">Price Trends</a></li>
        </ol>
    </div>
    <div>
        <ol>
            <li class="title">COMPANY</li>
            <hr>
            <li class="sub-title"><a href="#">About</a></li>
            <li class="sub-title"><a href="#">Contact & Imprint</a></li>
            <li class="sub-title"><a href="#">Terms of Service</a></li>
            <li class="sub-title"><a href="#">User Code of Conduct</a></li>
            <li class="sub-title"><a href="#">Industry Code of Conduct</a></li>
            <li class="sub-title"><a href="#">Privacy Policy</a></li>
            <li class="sub-title"><a href="#">Do Not Sell My Personal Information</a></li>
            <li class="sub-title"><a href="#">Affiliate Disclosure</a></li>
        </ol>
    </div>
</footer>
</div>
</body>
</html>