<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/selected menu/pc-g-n.css" type="text/css" media>
    <title>PCGN</title>

    <link rel="stylesheet" type="text/css" href="/filters/pc-g-u.css">
</head>
<body>
    <header>
        <div class="nav1">
        <div class="logo"><a href="/"><img src="/logo.png"></a></div>
        <div><nav class="nav nav-masthead justify-content-center float-md-end">
            <form action="/logout?_method=DELETE" method="POST">
            <button class="btn" type="submit" >Logout</button>
            </form>
        </nav>
        </div>
        </div>
        <div class="nav2">
            <ul>
                <!-- <li class="lol"><a href="/CYPP"><button>Builder</button></a></li> -->
                <li class="lol"><a href="/Build-guide"><button>Build Guide</button></a></li>
                <li class="lol"><a href="/Completed_Build"><button>Completed Build</button></a></li>
                <li class="lol"><a href="/Forums"><button>Forums</button></a></li>
            </ul>
        </div>
    </header>

    
    <div class="pc-g-u">
        <h1> Mid Range Used Pc </h1>
        <body>
            <h2>First thing we choose is the cpu for this build which is going to be the ryzen 3600 perfect for mid range build its 6 cores 12 cores allows for multitasking gaming and browsing and streaming
                The Ryzen 5 3600 is packaged with the Wraith Stealth  but of course we are buying a used part which sometimes comes (trey) which means it comes without the cooler you can find this cpu on
                 facebook market place and olx for around 3000Egp pounds also if you are good enough with negotiating might save your self 200egp 
                 beware this cpu needs a gpu for the pc to be able to work if you got the cpu alone without the gpu the pc wont work.

            </h2>
            <img src="/ryzen 3600.png" alt="ryzen 3600" srcset="">
                



            <h2>secound thing we gonna buy is the motherboard for the motherboard 
                we recommend a320m the cheapest motherboard supports most cpus till the ryzen gen 5 which is easily upgradable
            it comes with diffrent modules like msi,asrock,biostar and more the cheaper the better you will find 
            these motherboard in olx or facebook marketplace for around 2000-850 depending on the module and be careful some doesnt have m.2 slot
        also if you buy one you should ask the seller to update the bios of the motherboard first to the latest update also depending on the cpu you are getting but for 
        our ryzen 5 3600 it needs an update if it wasnt updated since out of the box state.</h2>
                <img src="/a320m gigabyte.png" alt="a320m" srcset="">
<h2>Now time for the ram we choose the crucial ram because its cheap you can get it new for 575-700 depending on its speed from sigma computer which is new of course 
    because used is not that far from the price of used so i kinda prefer buying them new but you can find them in marketplace or olx for 
    around 500-450 we are talking of course about the 8gb one because we are getting 2 of them if your budget
     cant handle two buy one but make sure you add another one in the future because games nowdays use even more than 16 so you have to atleast have 16gb of ram
    as a minmum there is of course lots of other diffrent modules but we gonna stick with the common and cheap one </h2>
    <img src="/ram.png" alt="ram" srcset="">
    <h2>for the psu (powersupply) for this build we are going to pick a 600watt psu you can get a 550watt but we recommend the 600watt psu for the psu we cant recommend
        a specific one because it depends on the price and its availability you can look in marketplace for psu and beware not falling for the fake 1000wat psu they look cheap
        if you look close you will notice they are fake a real psu has lots of cables and is heavy weight around 2kg sometimes more if you count the cables with it
        there is of course 80plus certficate which you should aim for but what does it even mean, 
        80 Plus is a certification designed to denote that a power supply is 
        at least 80% efficient at 20%, 50%, and 100% loads. This means a 500W 80 Plus rated PSU would draw a maximum of 625W at 100% load
        </h2>
        <img src="/psu.png" alt="psu" srcset="">
        <h2>now for the pc case which is a bit tricky because you need all of your components fitting inside it.
            its not hard for you to pick a pc case that is looking fancy but the problem most new people failing in is buying a small case
            finding out that the motherboard is bigger than the case it self so you should learn more about the diffent sizes
            you can find used pc cases for so cheap but of course every gamers want a fancy case with rgp but if your budget cant hanlde this you can fit your build
            in an old pc case you have for the meanwhile and buy the case later there is good options in amazon for around 2000-1200 some even comes with 4 fans
            <img src="/amazon cases.png" alt="amazon cases" srcset="">
            
        </h2>


    <h2>
        now the most expensive part of the pc which is the gpu we recommend is the rx 5700xt its a beast and its being sold in reasonable prices around 7500-6500egp
        its power is equivalent to an rtx 2070 super or an rtx 3060 so at this price range you would be getting a nice 1440p gaming experince of course there is lots of diffrent modules but you might find This
        in the used market the most important thing you check the gpu before buying if you wanna know how learn more in the guide section
        <img src="/RX5700XT.png" alt="gpu" srcset="">
        for people who wants a Nvidia gpu because they somehow dont like Amd you can get a 1070ti which is a good gpu of course not as powerful as the rx 5700xt but 
        still a powerful gpu being sold around 7000-6500 egp 
        <img src="/NVIDIA-GeForce-GTX-1070-Ti.jpg" alt="gpu" srcset="">

    </h2>
    <h2>now for the storage part 
    buying an ssd is now a must because even games now would stutter if you dont store it in your ssd 
    for the ssd dont buy it used becasue its price is the same as new 
    you should buy atlesat 240gb ssd there is cheap ones like pyn,kingstone,wd digital,sanddisk. also if your motherboard got an m.2 slot you can go for an m.2
    its alot faster than the sata ssd
</h2>
    <img src="/ssd.png" alt="ssd" srcset="">
    <h2>for the hdd we recommend 2tb storage you can get it for around 700-800 egp used 
        from El-Masrya Technology in bostan mall

    </h2>
    <img src="/hdd 2tb.jpg" alt="hdd" srcset="">
        </body>
        
    
</body>
</html>