<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
</head>
<body>
    <h1> Storage :3 </h1>
    <h1>
        Storage could be other things 
        like an SSD (2inch/m.2/NVME) and they are 
        way faster than the Hard Drive (HDD)
    </h1>
</body>
</html>