	.nav1{
		opacity: 81;
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr auto;
	}
	*{
		font-size: 17px;
	}
	body{
		background: linear-gradient(360deg, rgb(93 91 141) 0%, rgb(157 147 126) 100%);
	}
	h3{
		font-size: 50px;
	}
	.btn{
		height: 6vh;
		padding: 8px 13px;
		border-radius: 25px;
		border: none;
		font-size: 26px;
		cursor: pointer;
		transition-duration: 0.5s;
		position: relative;
		top: 119px;
		opacity: 52%;
	}
	.btn:hover{
		background-color: white;
		color: black;
	}
	.btn:active{
		opacity: 0.8;
	}
	
	main{
		margin: 50px 30px 50px 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		-webkit-box-align: center;
	}
	h1{
	
		font-size: 50px;
		
	}
	.logo img{
		width: 10vh;
	}
	.hello{
		margin-bottom: 15px;
		margin-top: 20px;
	}
	.Welcome{
		font-size: larger;
		text-align: center;
	}
	.about{
		padding: 10px 20px;
		border-radius: 10px;
		border: none;
		margin-top: 10px;
		cursor: pointer;
		font-size: 15px;
	}
	.about a{
		text-decoration: none;
		list-style: none;
		color: black;
		
	}
	.submit{
		padding: 10px 20px;
		border-radius: 10px;
		border: none;
		margin-top: 10px;
		cursor: pointer;
		font-size: 15px;
		position: center;
		
	}
	.submit a{
		text-decoration: none;
		list-style: none;
		color: black;
	}

	.about:active{
		opacity: 0.8;
	}

	.submit:active{
		opacity: 0.8;
	}