<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" contetnt="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/picker/PY_MONITOR.css">
        <title>Choose Your MONITOR</title>
    </head>
    <body>
        <header>
            header
        </header>
        <hr>
        <nav class="nav1_PY">
            navbar
            <ul>
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
            </ul>
        </nav>
        <hr>
        <div class="_header">
            <header class="h1_PY_MONITOR">
                <h1 class="h1s_PY_MONITOR"> Pick your MONITOR </h1>
            </header>
        </div>
            <hr>
        <section>
            <div class="_table">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
    </section>
        <hr>
        <footer>
            footer
        </footer>
    </body>
</html>