.h1_PY_RAM{
    color: white;
    font-size: 20px;
    padding: 15px 0px 15px 670px;
    background-color: rgb(118, 114, 126);
}
._sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.s_PY_RAM{
    width: 250px;
    position:fixed;
    top: 330px;
    left: 0;
    height: 40%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    transition: 0.3s;
}
table{
    width: 90%;
    margin: auto;
    border: 5px solid gray;
    border-spacing: 10px;
}
table td{
    padding: 10px;
    background-color: rgba(116, 120, 131, 0.5);
    border-spacing: 1px;
}
table thead th{
    background-color: rgb(110, 122, 134);
    color: white;
    text-align: center;
    font-weight: bold;
}
.first_PY_RAM{
    text-align: center;
}
.tf_PY_RAM{
    text-align: left;

}
.a1_PY_RAM{
    color: rgb(255, 255, 255);
    border: 3px solid blue;
    border-radius: 20px;
    background-color: blue;
}
.nav1{
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr auto ;
	background-color: black;
	}
	*{
		padding: 0;
		margin: 0;
	}
	body{
		background-color: #444444;
		color:white;
		
	}
	h3{
		font-size: 50px;
	}
	.btn{
		margin-top: 7px;
	color:white;
	height: 7vh;
	padding: 0px 12px;
	border-radius: 25px;
	border: none;
	background-color: orange;
	font-size: 25px;
	cursor: pointer;
	transition-duration: 0.5s;
	}
	.btn:hover{
		background-color: white;
		color: black;
	}
	.btn:active{
	opacity: 0.8;
	}
	
	h1{
	
		font-size: 50px;
		
	}
	.logo img{
		width: 25vh;
	}
    .submit{
		padding: 10px 20px;
		border-radius: 10px;
		border: none;
		margin-top: 10px;
		cursor: pointer;
		font-size: 15px;
		position: center;
		
	}
	.submit a{
		text-decoration: none;
		list-style: none;
		color: black;
	}

	.about:active{
		opacity: 0.8;
	}

	.submit:active{
		opacity: 0.8;
	}
    .nav2{
    
        background-color: gray;
        display: flex;
        justify-content: space-between;
    }
    .nav2 button{
        padding: 20px;
        font-weight: 700;
        font-size: large;
        color: white;
        background-color: gray;
        margin-right: -5px;
        border: 1px;
    }
    .right ul{
        list-style: none;
        align-items: center;
        padding-right: 6px;
    }
    .right li{
        margin-right: 20px;
        margin-top: 20px;
    }
    .lol {
        display: inline-block;
        margin-right: 10px;
    }
    .nav2 ul {
        margin: 0;
    }
    .nav2 button:hover{
        color: rgb(226, 162, 25);
        background-color: rgb(87, 87, 87);
        transition-duration: 0.2s;
    }
    .right a:hover{
        color: rgb(226, 162, 25);
    }
    .right ul{
        display: flex;
    }