
p, h1{
    margin: 24px ;;
    padding: 0;
    color: white;
}
.content{
    display: grid;
    justify-content: start;
    color:white;
    text-align: justify start;
}

p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
}
h1{
    padding-top: 10px;
    color: white;

}
h2{
    padding-left : 30px;
    color: white;
}
body{
    background-size: cover;
    background-position: center;
    background-color:#444444 ;

}