body{
margin: 0;
padding: 0s;
background: linear-gradient(360deg, rgb(93 91 141) 0%, rgb(157 147 126) 100%);
}
.logo img {
    width: 120px;
}
.nav1 li ,a{
color: white;
text-decoration: none;
font-size: medium;

}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent
    
}
nav li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}
nav li :hover{
    color: rgb(194, 138, 17);
}

.nav{
    background-color: rgb(0, 0, 0); 
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Caveat', cursive;
}

.nav:hover {
  background-color: black; /* Green */
  color: white;
}
.btn{height: 5vh;padding: 8px 13px;border-radius: 25px;border: none;font-size: 26px;cursor: pointer;transition-duration: 0.5s;position: relative;top: 95px;opacity: 52%;}
.btn:hover{
    background-color: white;
    color: black;
}
.btn:active{
opacity: 0.8;
}