.nav2{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(360deg, rgb(136 129 130) 0%, rgb(119 114 134) 100%);
}
.nav2 button{
    padding: 25px;
    font-weight: 700;
    font-size: large;
    margin-right: -5px;
    border: 1px;
    background: center;
    opacity: 186;
}
.right ul{
    list-style: none;
    align-items: center;
    padding-right: 6px;
}
.right li{
    margin-right: 20px;
    margin-top: 20px;
}
.lol {
    display: inline-block;
    margin-right: 10px;
}
.nav2 ul {
    margin: 0;
}
.search,.comment {
    width: 18px;
}
.nav2 button:hover{
    color: rgb(226, 162, 25);
    background-color: rgb(87, 87, 87);
    transition-duration: 0.2s;
}
.right a:hover{
    color: rgb(226, 162, 25);
}
.right ul{
    display: flex;
}