.dropdown{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    width: 100%;
    position: absolute;
    left: 0;
    background-color:rgb(90, 90, 90) ;
    opacity: 0.92;
    display: none;
}
.drop{
    width: 100px;
}
table th{
    padding-right: 5px;
}
.nav2 ul li:hover .dropdown{
    display: grid;
}
.title{
    color: white;
    margin-top: 3px;
}
.sub-title li{
    margin: 5px 0px;
}
ol{
    list-style: none;
}
.right ul li:hover {
    display: grid;
}
.dropdown th button{
    background-color: rgb(90, 90, 90);
}
