body{
margin: 0;
padding: 0s;
}
.logo {
    width: 120px;
}
.nav1 li ,a{
color: white;
text-decoration: none;
font-size: medium;

}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}
nav li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}
nav li :hover{
    color: rgb(194, 138, 17);
}